node_modules
.expo
.expo-shared
ios
android
.git
*.log
dist
web-build
.env
.env*.local
.expo-shared
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.pem
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.tsbuildinfo
.idea
.vscode
coverage
.nyc_output
*.tmp
*.temp
.cache
*.apk
*.aab
.gradle
.gitignore
README.md
*.md
.cursor
