{
    "openapi": "3.0.3",
    "info": {
      "title": "Koolnova Unofficial API",
      "version": "0.1.1",
      "description": "Reverse-engineered, unofficial OpenAPI specification for api.koolnova.com based on network traces from app.koolnova.com and public Koolnova integrations.\n\n⚠️ This document is **not** provided or endorsed by Koolnova. Field names and response bodies may evolve; always validate against the live API before production use."
    },
    "servers": [
      {
        "url": "https://api.koolnova.com"
      }
    ],
    "components": {
      "securitySchemes": {
        "BearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      },
      "schemas": {
        "LoginRequest": {
          "type": "object",
          "required": ["username", "password"],
          "properties": {
            "username": {
              "type": "string"
            },
            "password": {
              "type": "string",
              "format": "password"
            }
          }
        },
        "LoginResponse": {
          "type": "object",
          "properties": {
            "access_token": {
              "type": "string"
            },
            "user": {
              "$ref": "#/components/schemas/User"
            }
          }
        },
        "User": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "user_id": {
              "type": "integer"
            },
            "username": {
              "type": "string"
            },
            "email": {
              "type": "string",
              "format": "email"
            },
            "first_name": {
              "type": "string",
              "nullable": true
            },
            "last_name": {
              "type": "string",
              "nullable": true
            },
            "is_active": {
              "type": "boolean"
            },
            "is_staff": {
              "type": "boolean"
            },
            "is_superuser": {
              "type": "boolean"
            },
            "is_technical": {
              "type": "boolean"
            },
            "language_code": {
              "type": "string"
            },
            "timezone": {
              "type": "string"
            },
            "date_joined": {
              "type": "string",
              "format": "date-time"
            },
            "last_login": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "num_projects": {
              "type": "integer"
            },
            "num_sensors": {
              "type": "integer"
            },
            "newsletter": {
              "type": "boolean"
            },
            "phone_number": {
              "type": "string",
              "nullable": true
            },
            "address": {
              "type": "string",
              "nullable": true
            },
            "postal_code": {
              "type": "string",
              "nullable": true
            },
            "city": {
              "type": "string",
              "nullable": true
            },
            "country": {
              "type": "string",
              "nullable": true
            },
            "has_alexa": {
              "type": "boolean"
            },
            "new_version": {
              "type": "boolean"
            },
            "deleted": {
              "type": "boolean"
            },
            "oem": {
              "type": "string",
              "nullable": true
            },
            "updated_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "PaginationMeta": {
          "type": "object",
          "properties": {
            "lastPage": {
              "type": "integer"
            },
            "currentPage": {
              "type": "integer"
            },
            "perPage": {
              "type": "integer"
            },
            "total": {
              "type": "integer"
            }
          }
        },
        "Project": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "name": {
              "type": "string"
            },
            "code": {
              "type": "string",
              "nullable": true
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "first_name": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "allow_support": {
              "type": "boolean"
            },
            "has_alarm": {
              "type": "boolean"
            },
            "has_error": {
              "type": "boolean"
            },
            "had_alarm": {
              "type": "boolean"
            },
            "is_v2": {
              "type": "boolean"
            },
            "is_online": {
              "type": "boolean"
            },
            "offline_since": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "eco": {
              "type": "boolean",
              "nullable": true
            },
            "anti_frost": {
              "type": "boolean",
              "nullable": true
            },
            "humidity": {
              "type": "number",
              "nullable": true
            },
            "device_reference": {
              "type": "string",
              "nullable": true
            },
            "ssid": {
              "type": "string",
              "nullable": true
            },
            "rssi": {
              "type": "string",
              "nullable": true
            },
            "floors": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            },
            "configurations": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TopicConfiguration"
              }
            },
            "oem_topics": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "updated_at": {
              "type": "string",
              "format": "date-time"
            },
            "sync_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "ProjectsListResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PaginationMeta"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          ]
        },
        "TopicConfiguration": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "topic": {
              "type": "integer"
            },
            "key": {
              "type": "string"
            },
            "value": {
              "nullable": true,
              "oneOf": [
                { "type": "string" },
                { "type": "number" },
                { "type": "boolean" }
              ]
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "updated_at": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "Topic": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "topic": {
              "type": "string"
            },
            "uc": {
              "type": "string",
              "nullable": true
            },
            "project": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "$ref": "#/components/schemas/Project"
                }
              ]
            },
            "floor": {
              "type": "object",
              "nullable": true,
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "room": {
              "type": "object",
              "nullable": true,
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "user_info": {
              "type": "object",
              "nullable": true,
              "additionalProperties": true
            },
            "configurations": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TopicConfiguration"
              }
            },
            "device_reference": {
              "type": "string",
              "nullable": true
            },
            "ssid": {
              "type": "string",
              "nullable": true
            },
            "rssi": {
              "type": "string",
              "nullable": true
            },
            "eco": {
              "type": "boolean",
              "nullable": true
            },
            "anti_frost": {
              "type": "boolean",
              "nullable": true
            },
            "humidity": {
              "type": "number",
              "nullable": true
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "updated_at": {
              "type": "string",
              "format": "date-time"
            },
            "sync_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "TopicsListResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PaginationMeta"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          ]
        },
        "Sensor": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "key": {
              "type": "string"
            },
            "topic_info": {
              "$ref": "#/components/schemas/Topic"
            },
            "temperature": {
              "type": "number",
              "nullable": true
            },
            "setpoint_temperature": {
              "type": "number",
              "nullable": true
            },
            "humidity": {
              "type": "number",
              "nullable": true
            },
            "status": {
              "type": "string",
              "nullable": true,
              "description": "Status code (e.g. '02', '03' – meaning not officially documented)."
            },
            "speed": {
              "type": "string",
              "nullable": true,
              "description": "Fan speed, observed values: '1', '2', '3', '0' etc."
            },
            "zone": {
              "type": "string",
              "nullable": true
            },
            "is_online": {
              "type": "boolean"
            },
            "is_removed": {
              "type": "boolean"
            },
            "is_trv": {
              "type": "boolean"
            },
            "anti_frost": {
              "type": "boolean"
            },
            "eco": {
              "type": "boolean"
            },
            "device_reference": {
              "type": "string",
              "nullable": true
            },
            "ssid": {
              "type": "string",
              "nullable": true
            },
            "rssi": {
              "type": "string",
              "nullable": true
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "updated_at": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "SensorsListResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PaginationMeta"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Sensor"
                  }
                }
              }
            }
          ]
        },
        "Notification": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "type": {
              "type": "string",
              "nullable": true
            },
            "title": {
              "type": "string"
            },
            "message": {
              "type": "string"
            },
            "send_type": {
              "type": "string",
              "nullable": true
            },
            "is_read": {
              "type": "boolean"
            },
            "is_sent_email": {
              "type": "boolean"
            },
            "is_sent_push": {
              "type": "boolean"
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "updated_at": {
              "type": "string",
              "format": "date-time"
            },
            "user": {
              "type": "integer"
            }
          }
        },
        "NotificationsListResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PaginationMeta"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notification"
                  }
                }
              }
            }
          ]
        },
        "SensorUpdateRequest": {
          "type": "object",
          "description": "Partial update for a sensor. All fields are optional; any combination can be sent.",
          "properties": {
            "setpoint_temperature": {
              "type": "number"
            },
            "speed": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "eco": {
              "type": "boolean"
            },
            "anti_frost": {
              "type": "boolean"
            }
          },
          "additionalProperties": false
        }
      }
    },
    "security": [
      {
        "BearerAuth": []
      }
    ],
    "paths": {
      "/auth/v2/login/": {
        "post": {
          "summary": "Authenticate and get access token",
          "tags": ["Auth"],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Login successful",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/LoginResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Invalid credentials"
            }
          },
          "security": []
        }
      },
      "/users/me/": {
        "get": {
          "summary": "Get current user",
          "tags": ["Users"],
          "responses": {
            "200": {
              "description": "Current user information",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            }
          }
        }
      },
      "/projects/": {
        "get": {
          "summary": "List projects (installations)",
          "tags": ["Projects"],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 1
              },
              "required": false
            },
            {
              "name": "page_size",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              },
              "required": false
            },
            {
              "name": "ordering",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false,
              "description": "Ordering field, e.g. '-start_date'"
            },
            {
              "name": "search",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false
            },
            {
              "name": "is_oem",
              "in": "query",
              "schema": {
                "type": "boolean"
              },
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Paginated list of projects",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProjectsListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/projects/{projectId}/": {
        "get": {
          "summary": "Get project details",
          "tags": ["Projects"],
          "parameters": [
            {
              "name": "projectId",
              "in": "path",
              "schema": {
                "type": "integer"
              },
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Project details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            },
            "404": {
              "description": "Project not found"
            }
          }
        }
      },
      "/topics/": {
        "get": {
          "summary": "List topics",
          "tags": ["Topics"],
          "parameters": [
            {
              "name": "project",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": true
            },
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false
            },
            {
              "name": "page_size",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false
            },
            {
              "name": "ordering",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false
            },
            {
              "name": "search",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Paginated list of topics",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TopicsListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/topics/sensors/": {
        "get": {
          "summary": "List sensors / thermostats for a project",
          "tags": ["Sensors"],
          "parameters": [
            {
              "name": "project",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false,
              "description": "Project ID. Required in typical usage."
            },
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false
            },
            {
              "name": "page_size",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false
            },
            {
              "name": "ordering",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false
            },
            {
              "name": "search",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Paginated list of sensors",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SensorsListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/topics/sensors/{sensorId}/": {
        "patch": {
          "summary": "Update sensor / thermostat (partial)",
          "tags": ["Sensors"],
          "parameters": [
            {
              "name": "sensorId",
              "in": "path",
              "schema": {
                "type": "integer"
              },
              "required": true
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SensorUpdateRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Updated sensor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Sensor"
                  }
                }
              }
            },
            "400": {
              "description": "Validation error"
            },
            "404": {
              "description": "Sensor not found"
            }
          }
        },
        "get": {
          "summary": "Get single sensor by ID",
          "tags": ["Sensors"],
          "parameters": [
            {
              "name": "sensorId",
              "in": "path",
              "schema": {
                "type": "integer"
              },
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Sensor detail (shape inferred from list)",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Sensor"
                  }
                }
              }
            },
            "404": {
              "description": "Sensor not found"
            }
          }
        }
      },
      "/notifications/": {
        "get": {
          "summary": "List notifications",
          "tags": ["Notifications"],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false
            },
            {
              "name": "page_size",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false
            },
            {
              "name": "ordering",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false
            },
            {
              "name": "is_read",
              "in": "query",
              "schema": {
                "type": "boolean"
              },
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Paginated list of notifications",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/NotificationsListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/stages/": {
        "get": {
          "summary": "List stages (scenes/programs)",
          "tags": ["Stages"],
          "parameters": [
            {
              "name": "project",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false
            },
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false
            },
            {
              "name": "page_size",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Paginated list of stages. In the captured HAR this was empty, so schema is not fully known.",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PaginationMeta"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  }